.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-bootstrap-table table {
  table-layout: auto;
}
#rect5548-2 {
  fill: #5ebcf1;
}

#svg86001:hover {
  border: "2px black solid"
}

.remote-table {
  max-height: 750px;
}

.tableFixHead thead th { position: sticky; top: 0; }

.tableFixHead td {
  box-shadow: inset 0.2px -1px #000;
}

.tableFixHead th {
  box-shadow: inset 0.3px 0.3px rgb(31, 31, 31), 0 0.3px rgb(31, 31, 31);
}

.home-text > p {
  line-height: 32px;   /* within paragraph */
  margin-bottom: 45px;
}

.header-nav-item {
  font-size: 12pt;
  margin-right: 2rem
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

}

.figure-description > p {
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
